page-login {
    .splash-info {
        position: relative;
        z-index: 2;
        margin-top: -64px;
        text-align: center;
      }
    .splash-logo {
        margin: auto;
        background: url(../assets/imgs/appLogo.png) no-repeat transparent;
        background-size: 100% 100%;
        width: 128px;
        height: 128px;
    }
    .splash-intro {
        font-size: 18px;
        font-weight: bold;
        max-width: 80%;
        margin: auto;
      }
    .login-title{
        position: relative;
        background: url('../assets/imgs/splashbg.jpg') no-repeat transparent;
        background-size: cover;
        height: 45%;
        z-index: 1;
        background-repeat: repeat-x;
        -webkit-animation: animatedBackground 20s linear infinite;
        animation: animatedBackground 20s linear infinite;
    }
    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
      }
      .item—md.item—input.item—input—has—focus .item—inner, .item—md.item—input.input—has—focus .item—inner { 
        border-bottom-color: #32db64 !important;
        box-shadow: #32db64 !important
      }
}
